.image {
    background-image: url("https://preprodtsbstorage.blob.core.windows.net/cms/uploads/Coffee_Culture_1236_x_746_ae4632ef74.jpg");
    background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 100%;
    cursor: pointer;   
}

.image:hover {
    filter: brightness(50%);
    transition: all 1s ease;
}